<!DOCTYPE html>
<html>
<head>
	<title>HELLO HTML</title>
</head>

<body>
 <h1>Hello World!</h1>
 <p>Lorem Ipsum</p>

 <ul>
 	<li>Welcome</li>
 	<li>Good Night</li>
 	<li>Bye bye!</li>
 </ul>

 <ol>
 	<li>YOLO</li>
 	<li>Mengapa?</li>
 </ol>

<img src="{{url_for('static', filename='Novel_4.jpg')}}" height="50" width='80'>

<img src="{{url_for('static', filename='Novel_5.png')}}" height="80" width="100">

<table style="width:100%" border="1px">
	<tr>
		<th>First Name:</th>
		<th>Last Name:</th>
	</tr>
	<tr>
		<td>Audrey</td>
		<td>-</td>
	</tr>
</table>

<form>
	<input type="text" name="nama" placeholder="input your name here">
	<button>Submit</button>
</form>

<table border="1px">
	<tr>
		<th><img src="{{url_for('static', filename='panda.png')}}" height="50" width="70"></th>
		<th><img src="{{url_for('static', filename='grizz.png')}}" height="50" width="70"></th>
		<th><img src="{{url_for('static', filename='ice.png')}}" height="50" width="70"></th>
	</tr>
	<tr>
		<td>The giant panda, also known as the panda bear or simply the panda, is a bear native to south central China. It is characterised by large, black patches around its eyes, over the ears, and across its round body. The name "giant panda" is sometimes used to distinguish it from the red panda, a neighboring musteloid.</td>
		<td>The grizzly bear, also known as the North American brown bear or simply grizzly, is a large population or subspecies of the brown bear inhabiting North America. In addition to the mainland grizzly, other morphological forms of brown bear in North America are sometimes identified as grizzly bears.</td>
		<td>Ice Bear is one of the 3 main protagonists of We Bare Bears. Ice Bear is the youngest of the trio, but is, undoubtedly, the strongest and, in some respects, the most mature of them.</td>
	</tr>
</table>

</body>
</html>