<!DOCTYPE html>
<html>
<head>
	<title>Link With Section</title>
</head>
<body>
	<!--To link selection used a href = "#what"
	   and access it with id="what" -->
	
	<h1>Table of Contents</h1>
	<ul>
		<li><a href="#section1">Section 1</a></li>
		<li><a href="#section2">Section 2</a></li>
		<li><a href="#section3">Section 3</a></li>
	</ul>
	<ul>
		<div id="section1">Section 1
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			<br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<div id="section2">Section 2
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			<br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<div id="section3">Section 3
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			<br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</ul>
</body>
</html>