<!DOCTYPE html>
<html>
<head>
	<title>Division Span</title>
	<style type="text/css">
		/* use "#" to access id in division */

		#top {
			font-size: 36px;
		}

		#middle {
			font-size: 24px;
		}

		#bottom {
			font-size: 12px;
		}

		#trial {
			font-size: 10px;
			color: red;
		}

		/* use "." to access class in division*/
		.title {
			font-weight: bold;
			color:teal;
		}

		/* The color will follow the specific one; and will follow the main otherwise */

	</style>
</head>
<body>
	<div id="top">This is the top of the page</div>
	<div id="middle">This is the top of the page</div>
	<div id="bottom">This is the top of the page</div>
	<div id="trial">Don't move <span class="title">STOP</span> right there!</div>
</body>
</html>