<!DOCTYPE html>
<html>
<head>
	<title>My Web Page</title>
</head>
<body>
	<form>
		<div>
			<input type="text" name="name" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
		</div>
		<div>
			Favorite Color?
			<input type="radio" name="color" value="red"> Red
			<input type="radio" name="color" value="blue"> Blue
			<input type="radio" name="color" value="green"> Green
			<input type="radio" name="color" value="Other"> Other
			<!-- There are many types such as Radio, Checklist, text, password, and others -->
		</div>
	</form>
</body>
</html>